<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="BoltDB" connectionString="Server=VSQL_1002;Database=Bolt;Trusted_Connection=True;Connect Timeout=600; pooling='true'; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="EcomedateDB" connectionString="Server=CAPELLA;Database=Ecomedate;Trusted_Connection=True;Connect Timeout=600; pooling='true'; Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="EcomedateEntities" connectionString="metadata=res://*/Ecomedate.csdl|res://*/Ecomedate.ssdl|res://*/Ecomedate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAPELLA;initial catalog=Ecomedate;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoltEntities" connectionString="metadata=res://*/Bolt.csdl|res://*/Bolt.ssdl|res://*/Bolt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vsql_1002;initial catalog=Bolt;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoltCtxEntities" connectionString="metadata=res://*/BoltCtx.csdl|res://*/BoltCtx.ssdl|res://*/BoltCtx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VSQL_1002;initial catalog=Bolt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ActiveDirectoryConnectionString" connectionString="LDAP://DC=local,DC=compactappliance,DC=com" />
    <add name="Ecometry" connectionString="Server=Rigel;Database=ECOMLIVE;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="Membership" connectionString="Server=VSQL01;Database=Membership;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="FreightTransformEntities" connectionString="metadata=res://*/Freight.csdl|res://*/Freight.ssdl|res://*/Freight.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=capella;initial catalog=FreightTransform;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACEconn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1'" />
    <add name="JETconn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1'" />
    <add name="FreightTransformConnectionString" connectionString="Data Source=CAPELLA;Initial Catalog=FreightTransform;Integrated Security=True;Connect Timeout=600; pooling='true'; Max Pool Size=200;"
        providerName="System.Data.SqlClient" />
    <add name="TaskServiceEntities" connectionString="metadata=res://*/TaskService.csdl|res://*/TaskService.ssdl|res://*/TaskService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VSQL_1002;initial catalog=Bolt;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="ediPath" value="\\algol\Transfer\Orders\Scripted_Orders\Build\ShipConfirm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DefaultSettingId" value="13"/>
    <add key="ShipSettingsListGroup" value="Carrier"/>
  </appSettings>
</configuration>