<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="File" value="EdiInvoicing.log" xdt:Transform="Replace" />
  </appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <connectionString value="data source=VSQL_1002;initial catalog=Log4Net;integrated security=false;persist security info=True;User ID=ScriptLogging;Password=.N3+!sFun2"
                      xdt:Transform="Replace"/>
  </appender>
  <root>
    <level value="INFO" xdt:Transform="Replace" />
  </root>
</log4net>